[Unit]
Description=Deluge Bittorrent Client Daemon
After=network-online.target

[Service]
Type=simple
User={{ deluge_user }}
Group={{ deluge_group }}
UMask=007

ExecStart=/usr/bin/deluged -d -l {{ deluge_logs }}/daemon.log -L warning

Restart=on-failure

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target